/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
  --light: #ecf0f1;
  --dark: #2c3e50;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1,
h2,
h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: calc(1.25rem - 0.25em);
}
h1 {
  font-weight: 100;
  font-size: 2.82842712rem;
}
h2 {
  font-weight: 100;
  font-size: 2rem;
}
h3 {
  font-weight: 300;
  font-size: 1.41421356rem;
}
h4,
h5,
h6 {
  float: left;
  margin-right: 1rem;
  font-weight: 900;
  font-size: 1rem;
}
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light);
  color: var(--dark);
}
a {
  text-decoration: none;
  color: #e7683c;
  transition: 200ms;
}
a:hover {
  color: #e74c3c;
}
main {
  padding-top: 20vh;
  grid-template-columns: repeat(8, 1fr);
  display: grid;
  grid-gap: 0.5rem;
  max-width: 100%;
  width: 600px;
}
@media (max-width: 500px) {
  main {
    padding: 1rem 4vw;
  }
}
main > * {
  grid-column-start: 1;
  grid-column-end: -1;
}
header {
  grid-row-start: 1;
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  header {
    grid-row-start: auto;
  }
}
section {
  margin-bottom: 1rem;
}
p,
ul,
h4,
h5,
h6 {
  line-height: 1.41421356;
}
p,
ul {
  margin-bottom: 0.5rem;
}
section.about {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
}
@media (max-width: 500px) {
  section.about {
    grid-column-end: -1;
    grid-row-start: auto;
  }
}
nav.top-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 2;
}
@media (max-width: 500px) {
  nav.top-nav {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    margin-bottom: 1rem;
  }
}
nav.top-nav a {
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}
.skills ul li,
.workflow ul li {
  display: inline-block;
  padding: 0 0.8rem;
  background: rgba(231, 76, 60, 0.1);
  border-radius: 1rem;
}
textarea {
  width: 100%;
}
